{% extends 'news/layout.html' %}

{% block title %} {{title}} {% endblock %} 

{% block content %}

<div class="content">
  <div class="title">Список новостей</div>
  {% for item in news %}
  <div class="item">
    <div class="item__category">Категория: {{item.category}}</div>
    <div class="item__content">
    <div class="item__title">{{item.title}}</div>
    <div class="item__text">{{item.content|linebreaks}}</div>
    <!-- <button type="submit" class="form__button">Reed more...</button> -->
  </div>
  <div class="item__date">
    {{item.created_at|date:"Y-m-d H:i"}}
    <div class="item__options">
    <a href="edit/{{item.id}}" class="item__close"> Edit</a>
    <a href="delete/{{item.id}}" class="item__close"> Delete</a>
  </div>
  </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
